" auto-install vim-plug
if empty(glob('~/.config/nvim/autoload/plug.vim'))
  silent !curl -fLo ~/.config/nvim/autoload/plug.vim --create-dirs
    \ https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
  "autocmd VimEnter * PlugInstall
  autocmd VimEnter * PlugInstall | source $MYVIMRC
endif

call plug#begin('~/.config/nvim/autoload/plugged')
  Plug 'arcticicestudio/nord-vim', { 'tag': 'v0.15.0' }  " Theme colours
  Plug 'scrooloose/nerdtree', { 'on': 'NERDTreeToggle' } " File Management
  Plug 'godlygeek/tabular'                               " Alignment
  Plug 'ctrlpvim/ctrlp.vim'                              " fuzzy find files
  Plug 'tpope/vim-sleuth'                                " Indent detection
  Plug 'tpope/vim-commentary'                            " Comments
  Plug 'airblade/vim-gitgutter'                          " Git status
  Plug 'tpope/vim-fugitive'                              " Git tool
  Plug 'rhysd/git-messenger.vim'                         " Reveal commit messages under the cursor
{{- if ne .workspace "server" }}
  Plug 'vim-airline/vim-airline'                         " Statusline
  Plug 'ryanoasis/vim-devicons'                          " Icons
  Plug 'neoclide/coc.nvim', {'branch': 'release'}        " Completion
  Plug 'rodjek/vim-puppet'                               " Puppet syntaxing
{{- else }}
  Plug 'itchyny/lightline.vim'                           " Light statusline
{{- end }}
call plug#end()
