{{- $git_email := promptString "email for git" -}}
{{- $gpg_key := promptString "GPG signing key" -}}
{{- $workspace := promptString "work space" -}}

[data]
    workspace = "{{ $workspace }}"

[data.git]
    email = "{{ $git_email }}"
    gpg_key = "{{ $gpg_key }}"
