{{- $git_email := promptString "email for git" -}}
{{- $ssh_pub_key := promptString "SSH public key" -}}
{{- $workspace := promptString "work space" -}}

[edit]
    command = "nvim"

[data]
    workspace = "{{ $workspace }}"

[data.git]
    email = "{{ $git_email }}"
    sign_key = "{{ $ssh_pub_key }}"

{{- if eq .chezmoi.os "darwin" }}
[data.homebrew]
    path = {{ env "HOMEBREW_PREFIX" }}
{{- end }}
