[edit]
    command = "nvim"

[data]
    workspace = {{ promptString "my workspace" | quote }}

[data.git]
    email = {{ promptString "email address for git" | quote }}
    sign_key = {{ promptString "SSH public key" | quote }}

{{ if eq .chezmoi.os "darwin" -}}
[data.homebrew]
    prefix = {{ env "HOMEBREW_PREFIX" | quote }}
{{- end }}
