[user]
  name = Robin Gruyters
  initials = rg
  email = {{ .git.email }}
  signingkey = {{ .git.gpg_key }}

[grep]
  line-number = true

[gpg]
  program = gpg

[commit]
  gpgsign = true

[pull]
  rebase = true

[fetch]
  prune = true
  pruneTags = true

[diff]
  colorMoved = zebra

[init]
  defaultBranch = master
