#!/bin/sh

[[ -d $HOME/.config/chezmoi/checksums ]] || mkdir -p $HOME/.config/chezmoi/checksums

{{ if eq .chezmoi.os "darwin" -}}
readonly checksum_brewfile="$HOME/.config/chezmoi/checksums/brewfile"

if [ ! -f "/usr/local/bin/brew" ]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
fi

# Validate existing checksum for Brewfile
if [[ -e "$checksum_brewfile" ]]; then
  if [[ "$(shasum --algorithm 512256 --text "$HOME/.Brewfile" | sed 's/^\([a-z0-9]\{64\}\).*/\1/')" == "$(cat $checksum_brewfile)" ]]; then
    exit 0
  fi
fi

# Start brewing...
brew bundle install --global || true

# Remove stale or outdated downloads
brew cleanup --prune 0 || true

# Update checksum file
shasum --algorithm 512256 --text "$HOME/.Brewfile" | sed 's/^\([a-z0-9]\{64\}\).*/\1/' > $checksum_brewfile || true

# Pre-download Nord theme for iTerm2
curl -sL https://raw.githubusercontent.com/arcticicestudio/nord-iterm2/develop/src/xml/Nord.itermcolors \
  -o $HOME/Downloads/Nord.itermcolors

{{ else if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}

{{ if ne .workspace "server" -}}
sudo apt-get update && sudo apt-get install -y apt-transport-https gnupg2
curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
curl https://baltocdn.com/helm/signing.asc | sudo apt-key add -

echo "deb https://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee /etc/apt/sources.list.d/kubernetes.list
echo "deb https://baltocdn.com/helm/stable/debian/ all main" | sudo tee /etc/apt/sources.list.d/helm-stable-debian.list

# Install Nodejs (LTS)
curl -sL https://deb.nodesource.com/setup_lts.x | sudo -E bash -

sudo apt-get update
sudo apt-get install -y nodejs kubectl helm

mkdir -p ~/.local/share/fonts
curl -fLo "Fira Code Retina Nerd Font Complete.ttf" \
  https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/FiraCode/Retina/complete/Fira%20Code%20Retina%20Nerd%20Font%20Complete.ttf
{{ end -}}

sudo apt install -y tmux fzf neovim python3 zsh silversearcher-ag python3-neovim
{{ end -}}

{{ end -}}

if [ "$SHELL" != "$(which zsh)" ]; then
  chsh -s $(which zsh)
fi

if [ ! -d "$HOME/.tmux/plugins/tpm" ]; then
  git clone https://github.com/tmux-plugins/tpm $HOME/.tmux/plugins/tpm || true
  tmux source ~/.tmux.conf
  $HOME/.tmux/plugins/tpm/bin/install_plugins all || true
fi
