#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
if [ ! -f "/usr/local/bin/brew" ]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
fi

brew tap homebrew/bundle || true

cat > $HOME/.Brewfile <<EOF
tap 'homebrew/cask'
tap 'homebrew/cask-fonts'
tap 'federico-terzi/espanso'
tap 'hashicorp/tap'

brew 'zsh'
brew 'neovim'
brew 'gnupg'
brew 'gopass'
brew 'pinentry-mac'
brew 'composer'
brew 'watch'
brew 'node'
brew 'tmux'
brew 'python'
brew 'php'
brew 'yubikey-personalization'
brew 'hopenpgp-tools'
brew 'ykman'
brew 'espanso'
brew 'gitmoji'
brew 'the_silver_searcher'
brew 'kubectl'
brew 'helm'
brew 'fzf'

# Hashistack
brew 'hashicorp/tap/terraform'
brew 'hashicorp/tap/vault'
brew 'hashicorp/tap/consul'
brew 'hashicorp/tap/nomad'
brew 'terraform-provisioner-ansible'
brew 'consul-template'

# Apps
cask 'visual-studio-code'
cask 'firefox'
cask 'iterm2'
cask 'brave-browser'

# Fonts
cask 'font-open-sans'
cask 'font-source-code-pro-for-powerline'
cask 'font-source-code-pro'
cask 'font-source-sans-pro'
cask 'font-source-serif-pro'
cask 'font-fira-code'
cask 'font-fira-code-nerd-font'
cask 'font-powerline-symbols'
EOF

brew bundle --global

# Pre-download Nord theme for iTerm2
curl -sL https://raw.githubusercontent.com/arcticicestudio/nord-iterm2/develop/src/xml/Nord.itermcolors \
  -o $HOME/Downloads/Nord.itermcolors

{{ else if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt-get update && sudo apt-get install -y apt-transport-https gnupg2
curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
curl https://baltocdn.com/helm/signing.asc | sudo apt-key add -

echo "deb https://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee /etc/apt/sources.list.d/kubernetes.list
echo "deb https://baltocdn.com/helm/stable/debian/ all main" | sudo tee /etc/apt/sources.list.d/helm-stable-debian.list

sudo apt-get update
sudo apt install -y tmux fzf neovim python3 zsh kubectl helm silversearcher-ag
{{ end -}}

{{ end -}}

if [ "$SHELL" != "$(which zsh)" ]; then
  chsh -s $(which zsh)
fi

if [ ! -d "~/.tmux/plugins/tpm" ]; then
  git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm || true
  tmux source ~/.tmux.conf
  ~/.tmux/plugins/tpm/bin/install_plugins all || true
fi
