#!/usr/bin/env bash
## Package installer for Linux

# Validate if we are runinng on Linux system
{{ if ne .chezmoi.os "linux" -}}
exit 0
{{ end -}}

# Fail-safe :: Return value of a pipeline is the value of the last (rightmost) 
# command to exit with a non-zero status, or zero if all commands in the 
# pipeline exit successfully
set -o pipefail

# Fail-safe :: Treat unset variables and parameters other than the special 
# parameters ‘@’ or ‘*’ as an error when performing parameter expansion.
# An error message will be written to the standard error, and a
# non-interactive shell will exit
set -u

# Naming
readonly cr_script_sn='run_110_install-packages-linux'

# State file definition
readonly cr_state_success="$HOME/.config/chezmoi/state/$cr_script_sn"

# Validate existence of state file
if [ -e "$cr_state_success" ]; then
    # Action :: Graceful exit
    exit 0
fi

{{ if ne .workspace "server" -}}
# Install required packages for adding repo's
sudo apt update -qq
sudo apt install -y apt-transport-https gnupg2 rng-tools \
  powerline fonts-powerline python3-powerline \
  make build-essential libssl-dev zlib1g-dev \
  libbz2-dev libreadline-dev libsqlite3-dev wget curl llvm \
  libncursesw5-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev \
  jq software-properties-common python-software-properties

sudo add-apt-repository ppa:neovim-ppa/stable
sudo apt-get update

# Install Gopass
GOPASS_LATEST_DL=$(curl -sL https://api.github.com/repos/gopasspw/gopass/releases | jq -r ".assets[] | select(.name | test(\"{{ .chezmoi.os }}_{{ .chezmoi.arch }}\")) | .browser_download_url")
curl -sLo /tmp/gopass_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.deb $GOPASS_LATEST_DL
sudo dpkg -i /tmp/gopass_linux_amd64.deb

# Install Nodejs (LTS)
curl -sL https://deb.nodesource.com/setup_lts.x | sudo -E bash -

# Python related stuff
sudo apt install -y python-dev python-pip python3-dev python3-pip

# Install other packages
sudo apt install -y tmux fzf neovim zsh ripgrep python3-neovim fonts-jetbrains-mono

# Install i3wm and related stuff
sudo apt install -y i3 polybar kitty

# Install pyenv
curl https://pyenv.run | bash

{{ end -}}

# Success
touch "$cr_state_success" || {
    # touch failure
    printf '%s\n' "FAIL :: touch :: $cr_state_success :: $cr_script_sn/$LINENO"

    # Exit ungracefully
    exit 1
}
