enable-ssh-support
ttyname $GPG_TTY
default-cache-ttl 60
max-cache-ttl 120
{{ if eq .chezmoi.os "darwin" -}}
pinentry-program {{ .homebrew.prefix }}/bin/pinentry-mac
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
pinentry-program /usr/local/bin/pinentry-gnome3
{{ end -}}
